.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock
docs/CNAME
CNAME

# Next.js
/.next/
/out/
*.next
/docs/cache/
/docs/server/
/docs/trace
/docs/build-manifest.json
/docs/package.json
/docs/react-loadable-manifest.json
