@import '../../styling/variables.scss';

// This file is kept for legacy reasons but most styles have been moved to component-specific SCSS files
// See: Intro.module.scss, CVOverlay.module.scss, Section.module.scss, ProfileSection.module.scss, etc.
