@import './variables.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Fira Code', monospace;
}

body {
    font-size: 1.6rem;

    ::selection {
        background-color: $black;
        color: $white;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #000000;
    }
}