@import '../../styling/variables.scss';

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    transition: background-color 0.3s ease;

    :global(.light-mode) & {
        background: #f5f5f5;
    }

    :global(.dark-mode) & {
        background: #0a0a0a;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 1;
        position: relative;
        min-height: 2.4rem;

        @media (min-width: 600px) {
            font-size: 3.2rem;
            min-height: 3.2rem;
        }

        @media (min-width: 900px) {
            font-size: 4.8rem;
            min-height: 4.8rem;
        }

        @media (min-width: 1200px) {
            font-size: 8.2rem;
            min-height: 8.2rem;
        }
    }

    &__prompt {
        color: $black;
        margin-right: 0.5em;

        :global(.dark-mode) & {
            color: $white;
        }
    }

    &__cursor {
        position: absolute;
        margin-left: 2px;
        transition: opacity 0.1s;

        :global(.dark-mode) & {
            color: $white;
        }
    }
}
